/************
**Resets  
**************/

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
/*****************
**Variables  
******************/
:root {
  --mainFontSize: 1.15rem;
  --mainFontColor: rgb(39, 80, 112);
  --navHoverColor: hsl(0, 0%, 40%);
  --primaryColor: #ebaab0;
  --secondaryColor: maroon;
  --overlayColor: rgb(39, 80, 112);
  --paragraphLineHeight: 2em;
  --paragraphLetterSpacing: 0.0625em;
}

/****************
 **Body
*****************/
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Space Mono", monospace;
  color: var(--mainFontColor);
}

/***************
**Navigation  
****************/
.navigation {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColor);
  padding: 1em 0;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
}

.nav-list a {
  color: var(--mainFontColor);
  font-size: var(--mainFontSize);
}

.nav-list a:hover {
  border-bottom: 3px solid var(--secondaryColor);
}

li .dark-mode:hover {
  border-bottom: none;
  color: var(--secondaryColor);
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
}

/***********
 **Hero  
************/
.hero {
  background: url(hero2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 3rem);
  position: relative;
}

.hero-intro {
  position: relative;
  color: #f3e1c0;
  font-size: 1.75rem;
  width: max-content;
  margin: 0 auto;
  overflow-x: hidden;
}

.overlay {
  background: linear-gradient(
    95deg,
    rgba(39, 80, 112, 0.55),
    rgba(39, 80, 112, 0.9)
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explore-btn {
  width: max-content;
  padding: 0.5em 1em;
  background: none;
  font-size: 1.75rem;
  cursor: pointer;
  outline: none;
  border: 4px solid #f3e1c0;
  border-radius: 5px;
  color: #f3e1c0;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.explore-btn:hover {
  background-color: #f3e1c0;
  color: #275070;
}

/*******************
**About   
*********************/

.about-container {
  /* background-color: turquoise; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 9rem;
}

.about-container p {
  font-size: var(--mainFontSize);
  letter-spacing: var(--paragraphLetterSpacing);
  line-height: var(--paragraphLineHeight);
}

.about-title {
  border-bottom: 5px solid var(--secondaryColor);
}
