/***************
**Resets start 
****************/

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
/**************
**Reset End  
***************/

/*****************
**Variables start 
******************/
:root {
  --mainFontSize: 1.15rem;
  --btnFontSize: 1.3rem;
  --btnPadding: 0.5em 0.75em;
  --btnBorderRadius: 5px;
  --btnTransition: all 0.3s ease-in-out;
  --mainFontColor: rgb(39, 80, 112);
  --navHoverColor: rgb(128, 0, 0);
  --primaryColor: #ebaab0;
  --secondaryColor: rgb(128, 0, 0);
  --backupColor: rgb(243, 225, 192);
  --overlayColor: rgb(39, 80, 112);
  --paragraphLineHeight: 2em;
  --paragraphLetterSpacing: 0.0625em;
  --sectionBorderRadius: 15px;
}
/***************
**Variables end  
****************/

/****************
 **Body start
*****************/
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Space Mono", monospace;
  color: var(--mainFontColor);
}

.section-title {
  border-bottom: 5px solid var(--secondaryColor);
  display: inline;
  margin-bottom: 1.5rem;
}

main {
  padding: 4rem 5rem;
}
/**************
**Body end  
***************/

/*********************
**Navigation  start
*********************/
.navigation {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColor);
  padding: 1em 0;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
}

.nav-list a {
  color: var(--mainFontColor);
  font-size: var(--mainFontSize);
}

.nav-list a:hover {
  border-bottom: 3px solid var(--navHoverColor);
}

li .dark-mode:hover {
  border-bottom: none;
  color: var(--navHoverColor);
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
}
/********************
** Navigation end  
**********************/

/**************
 **Hero start 
***************/
.hero {
  background: url(hero2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 3rem);
  position: relative;
}

.hero-intro {
  position: relative;
  color: var(--backupColor);
  font-size: 1.75rem;
  width: max-content;
  margin: 0 auto;
  overflow-x: hidden;
}

.overlay {
  background: linear-gradient(
    95deg,
    rgba(39, 80, 112, 0.55),
    rgba(39, 80, 112, 0.9)
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explore-btn {
  width: max-content;
  padding: var(--btnPadding);
  background: none;
  font-size: 1.75rem;
  cursor: pointer;
  outline: none;
  border: 4px solid var(--backupColor);
  border-radius: var(--btnBorderRadius);
  color: var(--backupColor);
  transition: var(--btnTransition);
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.explore-btn:hover {
  background-color: var(--backupColor);
  color: #275070;
}
/************** 
** Hero end
**************/

/*******************
**About start   
*********************/

.about-container {
  /* min-height: max-content; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 9rem;
  /* border: 1.5px solid hsl(0, 0%, 87%); */
  border-radius: var(--sectionBorderRadius);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.8);
}

.about-container p {
  font-size: var(--mainFontSize);
  letter-spacing: var(--paragraphLetterSpacing);
  line-height: var(--paragraphLineHeight);
  margin-bottom: 1.5em;
}
/******************** 
** About end 
**********************/

/********************
**Projects start
*********************/

.projects-section-container {
  display: flex;
  justify-content: center;
  padding: 7rem 0;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.8);
  border-radius: var(--sectionBorderRadius);
  position: relative;
  margin: 4rem 0;
}

.projects-section-container .section-title {
  position: absolute;
  width: max-content;
  left: 50%;
  top: 3%;
  transform: translateX(-50%);
}

/** Project carousel start */

.project-carousel {
  display: flex;
  overflow-x: hidden;
  width: 50%;
  /* background-color: saddlebrown; */
}

.project-carousel-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  /* background-color: salmon; */
  flex-shrink: 0;
}

.carousel-btn {
  height: max-content;
  font-size: var(--btnFontSize);
  padding: var(--btnPadding);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  border: 1.5px solid var(--mainFontColor);
  cursor: pointer;
  border-radius: 50%;
  background-color: hsl(39, 68%, 94%);
  color: var(--mainFontColor);
  font-weight: 700;
}

.previous-btn {
  left: 22%;
  z-index: 4;
}

.next-btn {
  right: 22%;
}

.carousel-btn:hover {
  background-color: var(--backupColor);
}

/** Project carousel end */

.project-image-container {
  position: relative;
  width: 100%;
}

.description-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  transition: var(--btnTransition);
  line-height: var(--paragraphLineHeight);
  letter-spacing: var(--paragraphLetterSpacing);
}

.project-description {
  transform: translateY(-100%);
  background: linear-gradient(
    95deg,
    rgba(39, 80, 112, 0.79),
    rgba(39, 80, 112, 0.9)
  );
  color: var(--backupColor);
  height: 100%;
  width: 100%;
  transition: var(--btnTransition);
  padding: 1.5em;
  font-size: var(--mainFontColor);
}

.description-container:hover .project-description {
  transform: translate(0%);
  color: var(--backupColor);
}

.project-image {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  display: block;
}

.visit-btn {
  border: 4px solid var(--backupColor);
  color: var(--backupColor);
  font-size: var(--btnFontSize);
  padding: var(--btnPadding);
  border-radius: var(--btnBorderRadius);
  transition: var(--btnTransition);
  width: max-content;
  margin-top: 1rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 170%);
}

.visit-btn:hover {
  background-color: var(--backupColor);
  color: var(--mainFontColor);
}

.description-container:hover .visit-btn {
  transform: translate(-50%, 0%);
}
/*****************
**Projects end  
******************/

/***********************
**Hobbies  Start
************************/

.hobbies-container {
  padding: 4rem 1rem;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.8);
  border-radius: var(--sectionBorderRadius);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobby-btn {
  width: max-content;
  font-size: var(--btnFontSize);
  padding: var(--btnPadding);
  border-radius: var(--btnBorderRadius);
  outline: none;
  cursor: pointer;
  align-self: flex-end;
  background: none;
  border: 3px solid var(--secondaryColor);
  color: var(--secondaryColor);
  transition: var(--btnTransition);
}

.hobby-btn:hover {
  background-color: var(--secondaryColor);
  color: var(--backupColor);
}

.hobbies-container .section-title {
  width: max-content;
}

/** Hobby containers general  */

.hobby1-container,
.hobby2-container,
.hobby3-container,
.hobby4-container {
  display: flex;
  justify-content: space-around;
  /* background-color: salmon; */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  padding: 0.7em 0.85em;
  border-radius: var(--sectionBorderRadius);
  margin-bottom: 1rem;
  height: max-content;
}

.hobby1-NAP-container,
.hobby2-NAP-container,
.hobby3-NAP-container,
.hobby4-NAP-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: sandybrown; */
  width: 25%;
  /* margin-right: 15rem; */
}

.hobby1-PAB-container,
.hobby2-PAB-container,
.hobby3-PAB-container,
.hobby4-PAB-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: rosybrown; */
  width: 65%;
}

.hobby1ImgDiv,
.hobby2ImgDiv,
.hobby3ImgDiv,
.hobby4ImgDiv {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  /* background-color: seashell; */
}

.hobby1Img,
.hobby2Img,
.hobby3Img,
.hobby4Img {
  width: 100%;
  height: 100%;
}

/****************
** Hobbies end  
*****************/
